#dot{
	margin: 5px;
	width: 550px;
}

#addSimbvol{
	display: flex;
	width: 567px;
}

#textarea{
	display: flex;
}

.next{
	display: flex;
	flex-direction: column;
	height: 200px;
}

.next button{
	margin: 5px 5px;
	height: 35px;
	width: 160px;
	font-size: 8pt;
}

#worm, #rool{
	height: 165px;
	margin: 5px;
	width: 550px;
	display: block;
}

#rool {
	resize: none; 
}

#znak{
	display: block;
	margin: 5px;
	width: 150px;
	font-size: 20pt;
}

.button{
	margin: 15px 5px;
	border: solid 2px;
	width: 250px;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
}

.dot{
	flex: 1;
	height: 50px;
	margin: 5px;
}

#addStDot{
	flex: 1;
}

p{
	margin: 0px 5px;
}

.smart{
	margin: 23px 0px 5px 0px;
	flex: 1;
}


#addDot{
	display: flex;
	width: 730px;
}
